.JsPromptsContainer{
    background-image: radial-gradient(
    rgb(77, 78, 80),
    rgb(134, 136, 135),
    rgb(190, 192, 190)
  ); 
  padding:15px;
}



.game{
    background-color: orange;
    padding:10px;
    border-radius:10px;
    font-size:25px;


}

.game:hover{
    background-color: rgb(245, 192, 93);
}

@media screen and (max-width: 913px) {

    .game{
        margin:10%
    }

}

@media screen and (max-width: 430px) {

    .game{
        margin:10%;
        font-size:15px;
    }

}



.spacely{
    height:200px;
}