.game{
    background-color: orange;
    padding:10px;
    border-radius:10px;
    font-size:25px;


}

.game:hover{
    background-color: rgb(245, 192, 93);
}

@media screen and (max-width: 913px) {

    .game{
        margin:10%
    }

}

@media screen and (max-width: 430px) {

    .game{
        margin:10%;
        font-size:15px;
    }

}