@import url('https://fonts.googleapis.com/css?family=Calistoga|Open+Sans|Roboto&display=swap');



.PythonContainer{
    padding:20px;
    background-color: rgb(30, 201, 27);
    color:rgb(61, 2, 2);
    font-family: Calistoga, Arial, Helvetica, sans-serif;

}



.mdcode{
    text-align: left;
    padding:15px;
}
