.ReactGameContainer{
    background-color: rgb(245, 245, 192);
    margin:0 auto;
}

.top{
    margin:20px;
    padding:10px;
}

.code{
    border:3px solid black;
    
}

.linkholder{
    padding:40px;
    
}


.play{
    background-color: skyblue;
    padding:30px;
}
.down:hover,
.up:hover,
.reset:hover,
.puzzle:hover,
.potion:hover,
.fight:hover{
    cursor: crosshair;
    
}

.down,
.up{
    font-size:15px;
    padding:5px;
    margin:3%;
    border-radius:10px;
}

.reset,
.puzzle,
.potion,
.fight{
    font-size:20px;
    padding:5px;
    margin:1%;
    border-radius:20px;
}

.reset{
    background-color: red;
    color:white;
    padding:15px;
}

.puzzle{
    background-color: green;
    color:white;
    padding:15px;

}

.potion{
    background-color: orchid;
    color:white;
    padding:15px;

}

.fight{
    background-color: blue;
    color:white;
    padding:15px;

}