.weatherContainer {
  margin: 2% 0;
  padding:20px;
  background-color: rgba(235, 222, 222, 0.795);
}

.weatherPic {
  height: 100px;
  width: 200px;
}

.boxy{
  color: white;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.form{
  background-image: url("https://bloximages.chicago2.vip.townnews.com/tucson.com/content/tncms/assets/v3/editorial/f/88/f88c1d3e-a07d-531f-bd83-7998e1b0a8ca/5a8edabd9e020.image.jpg");
  width:80%;
  margin:auto;
}

input {
  font-size: 25px;
  border-radius: 5px;
  border: 3px solid rgba(248, 248, 137, 0.719);
  width: 70%;
  margin:5px;
}

.weatherData,
.weatherData:before,
.weatherData:after {
  box-sizing: inherit;
}
.showme{
  font-size:15px;
  cursor: pointer;
  margin:2%;
}

p{
  font-size:30px;
  margin:2%;
}


.wthrIcon{
  height:200px;
  width:200px;
  background-color: slateblue;
}